*,
*::before,
*::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-weight: 400;
    overflow-x: hidden;
    font-family: $font-family-regular;
    width: 100vw;
    height: 100vh;
    background-color: $base-color;
}