*,
*::before,
*::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    overflow:hidden;
}

body {
    font-weight: 400;
    font-family: $font-family-regular;
    background-color: $base-color;
}