.cards-container {
    grid-row: 3 / 10;
    grid-column: 1 / -1;
    display: grid;
    padding: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 10px;
    .card {
        border-radius: 4px;
        box-shadow: 5px 3px 8px rgba(0, 0, 0, .8);
        overflow: hidden;
        background-color: $background-button-secondary;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &-image {
            width: 100%;
            height: auto;
            object-fit: contain;

        }

        &-title {
            padding: .5rem;
            font-size: 1rem;
            font-family: $font-family-bold;
            font-weight: bold;
            text-transform: uppercase;
        }

        &-price{
            align-self: flex-end;
            margin-right: 3px;
            font-family: $font-family-light;
            font-size: 1rem;

            .price {
                text-decoration: underline;
            }
        }

        &-link {
            cursor: pointer;
            text-decoration: none;
            color: white;
            background-color: $background-button;
            padding: 0.4rem;
            margin: 4px;
            margin-bottom: 30px;
            text-align: center;
            text-transform: uppercase;
            width: 45%;
            align-self: center;
        }
    }
}