.title {
    &-container {
        grid-row: 1 / 1;
        grid-column: 1 / -1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-text {
        font-size: 3rem;
        font-family: $font-family-thin;
        text-transform: uppercase;
        color: $headline-color;
        letter-spacing: 1rem;

    }
}